.cardContainer {
  /* border: 1px black solid; */
  border-radius: 10px;
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-radius: 100px;
}

.cardImageContainer {
  height: 100%;
  width: 100%;
}

.cardImageContainer img {
  height: 100%;
  width: 100%;
}

.cardInfoContainer {
  background-color: white;
  width: 100%;
}
